@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #687185FF;
  --background-rgb: #282c34;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}
